{{ 'klaviyo-snippet-release-product-form.css' | asset_url | stylesheet_tag }}

<div class="custom-popup">
  <div class="klaviyo-form-UbWDNZ"></div>
  <div class="klaviyo-form-TWsfdt"></div>
  <div class="klaviyo-form-TuaCS8"></div>
  <div class="klaviyo-form-TG3DHg"></div>
  <div class="klaviyo-form-UPyes5"></div>
  <div class="klaviyo-form-TewBLm"></div>
  <div class="klaviyo-form-UcLFNn"></div>
  <div class="klaviyo-form-RX52nr"></div>
  <div class="klaviyo-form-YpSeMr"></div>
  <div class="klaviyo-form-SEqNGh"></div>
  <div class="klaviyo-form-TeWm7v"></div>
  <div class="klaviyo-form-V7wYUu"></div>
  <div class="klaviyo-form-YqWTSP"></div>
  <div class="klaviyo-form-TuXhej"></div>
  {% comment %} Lancement 16 mars {% endcomment %}
   <div class="klaviyo-form-YmmBfe"></div>
   <div class="klaviyo-form-TY7LSS"></div>
   <div class="klaviyo-form-UPWQsr"></div>
   <div class="klaviyo-form-WRcJTQ"></div>
   <div class="klaviyo-form-Sv2ECJ"></div>
   <div class="klaviyo-form-UJJA2a"></div>
   <div class="klaviyo-form-XkYwVF"></div>
   <div class="klaviyo-form-TkKeai"></div>
   <div class="klaviyo-form-Rw56tR"></div>
   <div class="klaviyo-form-UBenQ2"></div>
   <div class="klaviyo-form-S2SW33"></div>
  {% comment %} ***************** {% endcomment %}
  {% comment %} Lancement 1 mars {% endcomment %}
  <div class="klaviyo-form-XUUj7p"></div>
  <div class="klaviyo-form-WGqHXL"></div>
  <div class="klaviyo-form-RLr7jg"></div>
  <div class="klaviyo-form-UFZzxD"></div>
  <div class="klaviyo-form-UKz5MM"></div>
  <div class="klaviyo-form-RnW5Fp"></div>
  <div class="klaviyo-form-X8hfG3"></div>
  <div class="klaviyo-form-RwTAfu"></div>
  <div class="klaviyo-form-TLfvBZ"></div>
  <div class="klaviyo-form-VkPS2e"></div>
  <div class="klaviyo-form-Wk9G9v"></div>
  <div class="klaviyo-form-RurjPu"></div>
  <div class="klaviyo-form-QSmxg8"></div>
  <div class="klaviyo-form-YdFzZK"></div>
  <div class="klaviyo-form-USujZw"></div>
  <div class="klaviyo-form-Uv7NpC"></div>
  <div class="klaviyo-form-RurzLX"></div>
  <div class="klaviyo-form-XPn4i5"></div>
  <div class="klaviyo-form-YwbRch"></div>
  <div class="klaviyo-form-U5RwxD"></div>
  <div class="klaviyo-form-U532tQ"></div>
  <div class="klaviyo-form-VgdBuL"></div>
  <div class="klaviyo-form-QQeLW5"></div>
  <div class="klaviyo-form-RGUkzr"></div>
  <div class="klaviyo-form-Tx7YcY"></div>
  <div class="klaviyo-form-TW2ZUv"></div>
  <div class="klaviyo-form-SHLENj"></div>
  <div class="klaviyo-form-YyzBea"></div>
  <div class="klaviyo-form-YfQjXE"></div>
  <div class="klaviyo-form-UsFMyX"></div>
  <div class="klaviyo-form-UNYz5B"></div>
  <div class="klaviyo-form-XjqKz2"></div>
  <div class="klaviyo-form-VVTTL4"></div>
  <div class="klaviyo-form-WFjWR9"></div>
  <div class="klaviyo-form-Sjp8Bu"></div>
  <div class="klaviyo-form-Y4XyDz"></div>
  <div class="klaviyo-form-TWUvs6"></div>
  <div class="klaviyo-form-XuULeJ"></div>
  <div class="klaviyo-form-StkDbz"></div>
  <div class="klaviyo-form-RDDPEX"></div>
  <div class="klaviyo-form-WCXGya"></div>
  <div class="klaviyo-form-VyrBYC"></div>
  <div class="klaviyo-form-WaCaxs"></div>
  <div class="klaviyo-form-WpFrvP"></div>
  <div class="klaviyo-form-VV6pwb"></div>
  <div class="klaviyo-form-RCaEvX"></div>
  <div class="klaviyo-form-TfG3kz"></div>
  {% comment %} ***************** {% endcomment %}
</div>