{{ 'klaviyo-snippet-release-product-form.css' | asset_url | stylesheet_tag }}

<div class="custom-popup">
  {% comment %} Lancements du 1 avril 2026 {% endcomment %}
  <div class="klaviyo-form-UspN5W"></div>
  <div class="klaviyo-form-WkZs3s"></div>
  <div class="klaviyo-form-WM6XPF"></div>
  <div class="klaviyo-form-Xsv2BJ"></div>
  <div class="klaviyo-form-W2XaEf"></div>
  {% comment %} ***************** {% endcomment %}
  {% comment %} Lancements du mai 2026 {% endcomment %}
  <div class="klaviyo-form-X9f469"></div>
  <div class="klaviyo-form-RBinRK"></div>
  {% comment %} ***************** {% endcomment %}
  {% comment %} Lancements du Juin 2026 {% endcomment %}
  <div class="klaviyo-form-RrdC4D"></div>
  <div class="klaviyo-form-TDgxit"></div>
  <div class="klaviyo-form-QRDzEb"></div>
  {% comment %} ***************** {% endcomment %}
</div>