{{ 'klaviyo-snippet-release-product-form.css' | asset_url | stylesheet_tag }}

<div class="custom-popup">
  <div class="klaviyo-form-UbWDNZ"></div>
  <div class="klaviyo-form-TWsfdt"></div>
  <div class="klaviyo-form-TuaCS8"></div>
  <div class="klaviyo-form-TG3DHg"></div>
  <div class="klaviyo-form-UPyes5"></div>
  <div class="klaviyo-form-TewBLm"></div>
  <div class="klaviyo-form-UcLFNn"></div>
  <div class="klaviyo-form-RX52nr"></div>
  <div class="klaviyo-form-YpSeMr"></div>
  <div class="klaviyo-form-SEqNGh"></div>
  <div class="klaviyo-form-TeWm7v"></div>
  <div class="klaviyo-form-V7wYUu"></div>
  <div class="klaviyo-form-YqWTSP"></div>
  <div class="klaviyo-form-TuXhej"></div>
  {% comment %} Lancement 16 mars {% endcomment %}
   <div class="klaviyo-form-YmmBfe"></div>
   <div class="klaviyo-form-TY7LSS"></div>
   <div class="klaviyo-form-UPWQsr"></div>
   <div class="klaviyo-form-WRcJTQ"></div>
   <div class="klaviyo-form-Sv2ECJ"></div>
   <div class="klaviyo-form-UJJA2a"></div>
   <div class="klaviyo-form-XkYwVF"></div>
   <div class="klaviyo-form-TkKeai"></div>
   <div class="klaviyo-form-Rw56tR"></div>
  {% comment %} ***************** {% endcomment %}
</div>