/* custom css */

.footer-menu-title-custom {
  font-weight: bold;
  text-transform: none!important;
}

/* juniper - enlever spacing entre les 2 blocs */
#mintty-tiktok-feed {
  margin-top: 0px!important;
}

/* test banner pub */
/* Bannières pour toutes les tailles d'écran */
.banner-wrapper {
  margin-inline: 0; /* Assure que la bannière reste bien alignée */
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Remplit l'espace sans déformer l'image */
}

/* Mobile - Ajustements pour les petites résolutions */
@media screen and (max-width: 699px) {
  .product-list:not(.product-list--carousel) {
    margin-inline: -.625rem;
  }

  .banner-image {
    width: var(--product-list-card-width);
    height: auto;
  }
}

/* Desktop - Ajustements pour les grandes résolutions */
@media screen and (min-width: 700px) {
  .product-list {
    --product-list-max-items-per-row-allowed: 3; /* Définit le nombre d'items par ligne */
    --product-list-default-row-gap: 3rem; /* Ajuste les espaces entre les lignes */
    --product-list-default-column-gap: 1.5rem; /* Ajuste les espaces entre les colonnes */
  }

  .banner-image {
    width: 100%;
    height: auto;
  }
}
/* Default to show only the desktop image */
.mobile-image-banner {
  display: none;
}

.desktop-image-banner {
  display: block;
}

/* When the screen width is 768px or less, show only the mobile image */
@media (max-width: 768px) {
  .mobile-image-banner {
    display: block;
  }

  .desktop-image-banner {
    display: none;
  }
}
