.c-collection-list .collection-list .collection-card .collection_item_content {
  width: 8.438rem;
  height: 8.438rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  line-height: 1.2;
  position: relative;
  border: 2px solid #E4C0AE;
}

.c-collection-list .collection-list .collection-card .collection_item_content > div {
  z-index: 1;
}

.c-collection-list .collection-list .collection-card {
  flex-basis: 8.438rem;
  outline: none;
  border-radius: 50%;
  touch-action: manipulation;
  cursor: pointer;
}


.c-collection-list .collection-list .collection-card:focus,
.c-collection-list .collection-list .collection-card *,
.c-collection-list .collection-list .collection-card:focus * {
  outline: none;
}


@media (min-width: 768px) {
  .c-collection-list .collection-list .collection-card .collection_item_content {
    width: 11.25rem;
    height: 11.25rem;
  }

  .c-collection-list .collection-list .collection-card {
    flex-basis: 11.25rem;
  }
}

@media (min-width: 1920px) {
  .c-collection-list .collection-list {
    justify-content: center;
  }
}