.item-card {
  position: relative;
}

.item-card::after {
  content: 'Prochainement...';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  color: #1C1C1C;
  font-weight: 600;
  filter: blur(0);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card.expired::after,
.item-card.active-today::after {
  display: none;
}

.item-card.expired {
  filter: grayscale(100%);
  cursor: not-allowed;
  pointer-events: none;
}