.c-subcollection-list .collection-card .collection_item_content {
  text-align: center;
}

.c-subcollection-list.c-subcollection-list .collection-list {
  align-items: center;
  justify-content: center;
}

.c-subcollection-list.c-subcollection-list .collection-list .collection-card .collection_item_content {
  width: initial;
  height: initial;
  border-radius: .5rem;
  padding: .5rem 1rem;
  transition: background-color 0.3s ease-in-out;
}

.c-subcollection-list.c-subcollection-list .collection-list .collection-card:hover .collection_item_content {
  background-color: #DEDEDE !important;
}

.c-subcollection-list.c-collection-list .collection-list .collection-card {
  flex-basis: auto; 
}

.container-tags-third-level {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
}

.container-tags-third-level .wrapper-tags-third-level {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 300%;
}

.container-tags-third-level .tag-third-level {
  background-color: #efefef;
  padding: .5rem 1rem;
  border-radius: .5rem;
  transition: background-color 0.3s ease-in-out;
  width: auto;
}

.container-tags-third-level .tag-third-level:hover {
  background-color: #DEDEDE;
}

@media (min-width: 1024px) {
  .container-tags-third-level {
    overflow: initial;
    width: initial;
    max-width: initial;
  }

  .container-tags-third-level .wrapper-tags-third-level {
    width: initial;
    justify-content: center;
  }
}