.collection-tags {
  padding-left: .5rem;
  width: 100%;
  overflow-x: scroll;
}

.tag.tag-collection {
  border-radius: .5rem;
  padding: .5rem 1rem;
  background-color: #efefef;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#collection-tags-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

#collection-tags-container .row-tag {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .collection-tags {
    overflow-x: initial;
  }
  
  #collection-tags-container,
  #collection-tags-container .row-tag {
    justify-content: center;
    margin: 0 auto;
  }
}