.promotions-list-section .section-title {
  margin-bottom: 1rem;
  text-align: center;
}

.promotions-list-section .section-content {
  display: grid;
  gap: 1rem;
}

.promotions-list-section .section-wrapper.slider-mobile {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.promotions-list-section .container.with-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.promotions-list-section .container.with-link .view-all-link {
  margin-bottom: 1rem;
}

@media (max-width: 1023px) {
  .promotions-list-section .container.with-link .view-all-link {
    margin-bottom: 1rem;
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .promotions-list-section .section-wrapper.slider-mobile {
    overflow-x: initial;
    scroll-snap-type: none;
  }

  .promotions-list-section .section-wrapper {
    margin-inline-start: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
    margin-inline-end: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
  }

  .promotions-list-section .section-wrapper.slider-desktop {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
}