.custom-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  display: none;
}

.custom-popup.show {
  display: flex;
}

.klaviyo-form {
  background-color: rgb(255, 255, 255);
  border-radius: .5rem;
}