.product-slider-banner {
  position: relative;
}

.product-slider-banner .banner-container .image-desktop {
  display: none;
}

.product-slider-banner .banner-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
  padding: 2rem 1rem;
}

.product-slider-banner .banner-text .banner-title {
  font-size: 2rem;
}

.product-slider .collection-list {
  gap: 1rem;
}

.product-slider .collection-card {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .product-slider-banner {
    --distance-to-bleed: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

@media (min-width: 1200px) {
  .product-slider-banner .banner-container .image-desktop {
    display: block;
  }

  .product-slider-banner .banner-container .image-mobile {
    display: none;
  }

  .product-slider-banner .banner-text .banner-title {
    font-size: 3rem;
  }

  .product-slider-banner .banner-text {
    padding: 3rem;
    width: 40%;
    justify-content: center;
  }
}