@media (max-width: 1100px) {
  .section-spacing .container:has(.klaviyo-form-VBkgJH) {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .klaviyo-form-VBkgJH form.klaviyo-form {
    display: block !important;
  }

  .klaviyo-form-VBkgJH #rich-text-01K88NA0GWATFBQ8266CWK008S h1 span {
    line-height: 1.5;
    font-size: 36px !important;
  }

  .klaviyo-form-VBkgJH #rich-text-01K88NA0GWATFBQ8266CWK008S h1:nth-child(4) {
    margin-top: -60px;
  }

  .klaviyo-form-VBkgJH #rich-text-01K88NA0GWATFBQ8266CWK008S h1:nth-child(4) span {
    font-size: 72px !important;
  }

  .klaviyo-form-VBkgJH form.klaviyo-form .kl-private-reset-css-Xuajs1:has(img),
  .klaviyo-form-VBkgJH form.klaviyo-form .kl-private-reset-css-Xuajs1:has(div[data-testid="form-row"]) {
    width: 100% !important;
    min-width: initial !important;
    min-height: initial !important;
  }

  .klaviyo-form-VBkgJH form.klaviyo-form img {
    max-width: 100% !important;
    width: 100% !important;
  }

  .klaviyo-form-VBkgJH form.klaviyo-form .kl-private-reset-css-Xuajs1:has(div[data-testid="form-row"]) {
    padding: 20px 0 !important;
  }

  .klaviyo-form-VBkgJH form.klaviyo-form input,
  .klaviyo-form-VBkgJH form.klaviyo-form input::placeholder,
  .klaviyo-form-VBkgJH form.klaviyo-form button {
    font-size: 18px !important;
  }

  /* changes 23-10-2025 */

  .klaviyo-form-VBkgJH #rich-text-01K88NA0GWATFBQ8266CWK008S div:nth-child(3) span {
    font-size: 18px !important;
  }

  /* end changes 23-10-2025 */
}

@media (min-width: 1101px) {
  .klaviyo-form-VBkgJH #rich-text-01K88NA0GWATFBQ8266CWK008S h1 span {
    line-height: 1;
    font-size: 48px !important;
  }

  .klaviyo-form-VBkgJH form.klaviyo-form .kl-private-reset-css-Xuajs1:has(div[data-testid="form-row"]) {
    padding: 20px 0 !important;
  }

  .klaviyo-form-VBkgJH form.klaviyo-form input,
  .klaviyo-form-VBkgJH form.klaviyo-form input::placeholder,
  .klaviyo-form-VBkgJH form.klaviyo-form button {
    font-size: 18px !important;
  }

  .klaviyo-form-VBkgJH form.klaviyo-form div[data-testid="form-row"]:has(input),
  .klaviyo-form-VBkgJH form.klaviyo-form div[data-testid="form-row"]:has(button[type="button"]) {
    max-width: 600px !important;
    width: 100% !important;
    margin: 0 auto !important;
  }
}

@media (min-width: 1280px) {
.klaviyo-form-VBkgJH #rich-text-01K88NA0GWATFBQ8266CWK008S h1 span {
    line-height: 1;
    font-size: 72px !important;
  }
}